home
  device summary
    status (last transaction)
  error summary
devices
  list
    view
    edit
    ping
  add
  (scan)
reporting
  alarms
  reports
    list
      view
      edit
      delete
  templates
settings
  users
  network
  protocols
    modbus
  storage
    list (space)
system
  info
    > address or lat/lon -> google map
  status
  logs
    system
    error
  tests
    network
